<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рабочий процесс</title>
    <link rel="stylesheet" href="/css/worker/workerWork.css">
</head>
<body>
    <header>
        <div class="header-content">
            <span id="username" th:text="${user.role.title} +' '+${user.department.name} +' '+ ${user.name}">Работник</span>
            <nav>
                <ul>
                    <li><a th:href="@{/app/worker/workerWork}">Рабочий процесс</a></li>
                    <li><a th:href="@{/app/worker/workerVacations}">Отпуск</a></li>
                    <li><a th:href="@{/app/worker/workerScheduleChoose}" id="statistics-link">Выбор расписания</a></li>
                    <li><a th:href="@{/app/worker/workerSchedule}" id="workerSchedule-link">Расписание</a></li>
                    <li><a th:href="@{/}" id="login-link">Выйти</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Сообщение об ошибке -->
    <div id="error-message" class="hidden">
        <span id="error-text"></span>
        <button id="error-close-btn">ОК</button>
    </div>

    <div class="container">
        <h1>Управление рабочим процессом</h1>

        <!-- Отображение времени смены -->
        <div id="schedule-time"></div>

        <!-- Контейнер с кнопками -->
        <div class="button-container">
            <button id="start-btn" class="btn">Начать работу</button>
            <button id="pause-btn" class="btn hidden">Перерыв</button>
            <button id="resume-btn" class="btn hidden">Возобновить</button>
            <button id="finish-btn" class="btn hidden">Завершить работу</button>
        </div>

        <div id="status-message" class="hidden"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/worker/workerWorkApi.js"></script>
    <script src="/js/worker/workerWork.js"></script>
</body>
</html>
